@import './pico.scss';
@import './markdown.scss';
@import './utils.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

button {
  display: flex;
}

[role=button].secondary {
  --background-color: var(--secondary);
  --border-color: var(--secondary);
  --color: var(--secondary-inverse);

  &:is(:hover, :active, :focus) {
    --background-color: var(--secondary-hover);
    --border-color: var(--secondary-hover);
    --color: var(--secondary-inverse);
  }

  &:focus {
    --box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
      0 0 0 var(--outline-width) var(--secondary-focus);
  }

  &.outline {
    --color: var(--secondary);

    &:is([aria-current], :hover, :active, :focus) {
      --color: var(--secondary-hover);
      --background-color: var(--secondary-focus);
    }
  }
}

[role=button] {
  display: inline-flex;
  align-items: center;
  width: auto;
  vertical-align: middle;

  &.outline {
    --background-color: transparent;
    --color: var(--primary);

    &:is([aria-current], :hover, :active, :focus) {
      --background-color: transparent;
      --color: var(--primary-hover);
    }
  }
}

[data-tooltip]::before {
  white-space: pre-wrap!important;
  width: max-content;
  max-width: 60vw;
  overflow: visible;
  text-overflow:initial;
  text-align: justify;
}

dialog article {
  overflow-x: hidden;
}

a,
[role="link"] {
  color: var(--primary-link);
}

nav details summary[role=button] {
  --line-height: 1.2;
}

#app {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}
