@import './pico.scss';
@import './markdown.scss';
@import './utils.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

button {
  display: flex;
}

[role='button'] {
  display: inline-flex;
  align-items: center;
  width: auto;
  vertical-align: middle;

  &.outline {
    --background-color: transparent;
    --color: var(--primary);

    &:is([aria-current], :hover, :active, :focus) {
      --background-color: transparent;
      --color: var(--primary-hover);
    }
  }
}

[data-tooltip]::before {
  white-space: pre-wrap !important;
  width: max-content;
  max-width: 60vw;
  overflow: visible;
  text-overflow: initial;
  text-align: justify;
}

a,
[role='link'] {
  color: var(--primary-link);
}

nav details summary[role='button'] {
  --line-height: 1.2;
}

#app {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  padding: 0 5px;

  @media (min-width: 1024px) {
    padding: 0 20px;
  }
}
