@use 'sass:color' as color;
@use '@picocss/pico/scss/colors' as picoColors;
@use 'tooltip' with (
  $enable-transitions: true
);
@use '@picocss/pico/scss/pico' as pico with (
  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true,
  $semantic-root-element: '#app',
  // Enable .classes
  $enable-classes: false,
  // Enable fluid layout
  $enable-viewport: false,

  $theme-color: 'blue',
  $css-var-prefix: '--',

  $modules: (
    // Theme
    'themes/default': true,

    // Layout
    'layout/document': true,
    'layout/landmarks': false,
    'layout/container': true,
    'layout/section': true,
    'layout/grid': true,
    'layout/overflow-auto': false,

    // Content
    'content/link': true,
    'content/typography': true,
    'content/embedded': true,
    'content/button': true,
    'content/table': true,
    'content/code': true,
    'content/figure': true,
    'content/miscs': true,

    // Forms
    'forms/basics': true,
    'forms/checkbox-radio-switch': true,
    'forms/input-color': true,
    'forms/input-date': false,
    'forms/input-file': false,
    'forms/input-range': true,
    'forms/input-search': false,

    // Components
    'components/accordion': true,
    'components/card': true,
    'components/dropdown': true,
    'components/group': false,
    'components/loading': false,
    'components/modal': true,
    'components/nav': true,
    'components/progress': true,
    'components/tooltip': false,

    // Utilities
    'utilities/accessibility': true,
    'utilities/reduce-motion': true
  )
);

$background-color-transparent-light: color.adjust(
  picoColors.$white,
  $alpha: -0.3
);
$background-color-transparent-dark: color.adjust(
  color.mix(picoColors.$black, picoColors.$grey-900, 37.5%),
  $alpha: -0.4
);

$primary: #0189e9;

$primary-link-light: color.mix($primary, picoColors.$black, 75%);
$primary-link-dark: color.mix($primary, picoColors.$white, 75%);

$muted-color-dark: #{picoColors.$grey-300};

[data-theme='light'],
:root:not([data-theme='dark']),
[data-theme='dark'] {
  --primary: #0189e9;
  --primary-background: #0189e9;
}

[data-theme='light'],
:root:not([data-theme='dark']) {
  --background-color-transparent: #{$background-color-transparent-light};
  --background-color-transparent-inverse: #{$background-color-transparent-dark};
  --primary-link: #{$primary-link-light};
}

[data-theme='dark'] {
  --background-color-transparent: #{$background-color-transparent-dark};
  --background-color-transparent-inverse: #{$background-color-transparent-light};
  --primary-link: #{$primary-link-dark};
  --muted-color: #{$muted-color-dark};
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --background-color-transparent: #{$background-color-transparent-dark};
    --background-color-transparent-inverse: #{$background-color-transparent-light};
    --primary-link: #{$primary-link-dark};
    --muted-color: #{$muted-color-dark};
  }
}

body {
  --nav-element-spacing-horizontal: 0.25rem;

  @media (min-width: 640px) {
    --nav-element-spacing-horizontal: 0.5rem;
  }
}

fieldset {
  border: thin solid var(--form-element-border-color);
  padding: 0 var(--form-element-spacing-horizontal);
  border-radius: var(--border-radius);

  legend {
    padding: 0 calc(var(--form-element-spacing-horizontal) / 2);
    color: var(--form-element-placeholder-color);
  }
}

th,
td {
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
}
