@import './pico.scss';
@import './markdown.scss';
@import './utils.scss';

body {
  margin: 0;
}

button {
  display: flex;
}

[role=button] {
  display: inline-flex;
}

#app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
